{% extends 'pictures/base.html' %}

{% block title %}
<title>PhotoQuiz</title>
{% endblock title %}


{% block content %}


<div class="container-fluid">
    <h1 class="quiz-list-title">PhotoQuiz </h1>

    <div class = "row">
        {% for quiz in quizzes %}
        <ul>
        
        
        
          
        <div class="col-md-6"> 
            <h5> N° {{ quiz.id  }} </h5> 
            <div class="card">
                <a href="{% url 'quiz-detail' slug=quiz.slug event_number=1 %}">
                    {{ quiz.title }}
    
                    {% if quiz.events.exists %}
                    <img src="{{ quiz.events.first.image_url }}" alt="Image associée au quiz">
                    {% endif %}
                </a>

            </div>
            <h4> Quiz of {{ quiz.created_at }}</h4>
            <h5> Number of pictures : {{ quiz.events.count }}</h5>
            <p>timing : {{ quiz.time_limit_minutes }} mn</p>
           
            
        </div>
    </ul>
        {% endfor %}



    </div>
</div>

{% endblock content %}
