{% extends 'pictures/base.html' %}

{% block title %}
<title>PhotoQuiz</title>
{% endblock title %}


{% block content %}


<div class="container-fluid">
    <h1 class="quiz-list-title">PhotoQuiz </h1>

    <div class = "row">
        {% for quiz in quizzes %}
        <ul> 
          
        <div class="col-md-6"> 

            <div class="card">
                <a href="{% url 'quiz-detail' slug=quiz.slug event_number=1 %}">
                    <div>
                        <h4 class="quiz-picture-title">
                        {{ quiz.id  }} - {{ quiz.title }}
                </h4>
                </div>
                    {% if quiz.events.exists %}
                    <img src="{{ quiz.events.first.image_url }}" alt="Image associée au quiz">
                    {% endif %}
                </a>
            </div>
            <div class="card-body" style="padding:0rem; margin:0%">
            <p class="card-text"> date : {{ quiz.created_at }}</p>
            <p class="card-text"> Num of pictures : {{ quiz.events.count }}</p>
            <p class="card-text">timing : {{ quiz.time_limit_minutes }} mn</p>
            </div>
           
            
        </div>
    </ul>
        {% endfor %}



    </div>
</div>

{% endblock content %}
